<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 px-3 px-lg-5">
      <a routerLink="/" class="navbar-brand">
        <h1 class="m-0 text-primary"><span class="text-dark">Achat-</span>Fournisseur</h1>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a routerLink="/home" class="nav-item nav-link">Home</a>
          <a routerLink="/fournisseurs" class="nav-item nav-link">Fournisseurs</a>
          <a routerLink="/commandes" class="nav-item nav-link">Commandes</a>
          <a routerLink="/historiques" class="nav-item nav-link">Historique</a>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><a routerLink="/profile" class="dropdown-item">View Profile</a></li>
              <li><a routerLink="/login" class="dropdown-item">Log in</a></li>
              <li><a routerLink="/register" class="dropdown-item">Sign up</a></li>
              <li><a routerLink="/client" class="dropdown-item">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
